.add-to-cart {
  & .add-to-cart__btn {
    display: flex;
    padding: 15px 30px;
    position: relative;
    justify-content: center;
    cursor: pointer;
    & span {
      white-space: nowrap;
    }
    & .component-loader {
      width: 16px;
      height: 16px;
      margin-left: 5px;
      position: absolute;
      margin: 1px 0 0 0;
      right: 15px;
      & .spin {
        width: 15px;
        height: 15px;
        color: #fff;
      }
    }
  }
  & .add-to-cart__qty {
    margin: 0 15px 0 0;
    & button {
      padding: 15px;
      line-height: 15px;
      font-family: Courier New;
      font-size: 20px;
      font-weight: bold;
    }
    & input {
      width: 50px;
      text-align: center;
      border-color: #333;
    }
  }
}
