header {
  background-color: var(--header-background);
  color: var(--header-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  & .header-top {
    padding: 25px 0;
    & .header-top__items {
      align-items: center;
      & button {
        background: none;
        border: none;
        margin-left: 30px;
        padding: 0;
        color: #555;
        cursor: pointer;
        & svg {
          width: 25px;
          height: 17px;
        }
      }
    }
  }
  & .component-loader {
    margin-top: 20px;
    & .spin {
      width: 25px;
      height: 25px;
    }
  }
}
