REACT_APP_DEBUG=0
# Domain folder path. Set the variable if you want to define it manually. Leave empty to use the domain where the App is running
REACT_APP_DIR=
# Domain subfolder path. Leave "/" for websites in domain root folder
REACT_APP_SUBDIR=/