:root {
  --swiper-navigation-color: #333;
  --swiper-navigation-size: 30px;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
}
main {
  padding: 20px 0 40px;
  flex-grow: 1;
}
.relative {
  position: relative;
}
.hidden {
  display: none;
}
#root > .alert {
  margin: 30px auto;
  width: 400px;
  max-width: 90%;
}
.page-width {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}
.w100 {
  width: 100%;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-right {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.button {
  background: #333;
  color: #fff;
  padding: 12px 35px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.button .component-loader {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  position: absolute;
  margin: 1px 0 0 0;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.button .spin {
  width: 15px;
  height: 15px;
  color: #fff;
}
.button:disabled {
  background: #999;
  cursor: not-allowed;
}
.svgic {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  pointer-events: none;
  vertical-align: top;
  width: 20px;
}
.img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.clear-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  color: #555;
}
.clear-list {
  margin: 0;
  padding: 0;
}
.smooth200 {
  transition: all 0.3s ease-in-out;
}
