#sidebars {
  & > .active .sidebar {
    transform: translateX(0);
  }
  & > .active .sidebar-bg {
    background: #333d;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    cursor: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDIwTDQgNC4wMDAwM00yMCA0TDQuMDAwMDIgMjAiIHN0cm9rZT0iI2VlZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=)
        12 12,
      auto;
  }
  & .sidebar {
    top: 0;
    right: 0;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 375px;
    max-width: 100%;
    z-index: 999;
    padding: 50px 30px 40px;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    transform: translateX(100%);
    & .sidebar-content {
      overflow: scroll;
      max-height: 100%;
    }
    & .sidebar-title {
      align-items: flex-start;
      border-bottom: 1px solid #888;
      margin-bottom: 35px;
      overflow: hidden;
    }
    & h3 {
      margin: 0 0 20px 0;
    }
    & ul {
      padding: 0;
    }
    & .user-list {
      padding: 0;
      & > li {
        padding: 15px 15px;
        cursor: pointer;
      }
      & > li.active {
        background: rgba(0, 0, 0, 0.03);
      }
      & > li:hover {
        background: rgba(0, 0, 0, 0.06);
      }
      & > li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    & ul:hover li:not(:hover) {
      background: none;
    }
  }
  & .close-button:hover {
    transform: rotate(90deg);
  }
}
.sidebar-open {
  overflow: hidden;
}
