.details-section {
  width: 100%;
  background: none;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.1rem 10px -0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  & summary {
    padding: 1rem;
    display: block;
    background: none;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }
  & summary:before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }
  & summary::-webkit-details-marker {
    display: none;
  }
}
.details-section[open] > summary:before {
  transform: rotate(90deg);
}
